$color_blue_principal: #0242FB;
$color_purple_principal: #2f2476;
$color_white_meat:blanchedalmond;
$color_transparent: transparent;
$color_white: white;
$color_red_cross:rgba(240,17,12,255);
$color_black:black;
$widht_img:250px;
$height_img:250px;
$color_red:red;
